body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: white;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
}

.logo {
    width: 120px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav a:hover {
    color: #4CAF50;
}

/* HERO */
.hero {
    text-align: center;
    padding: 100px 20px;
    background: linear-gradient(to right, #e3f2fd, #e8f5e9);
}

.hero h1 {
    font-size: 40px;
}

.hero p {
    font-size: 18px;
    margin: 10px 0;
}

.btn {
    background: #4CAF50;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
}

/* PRODUCTS */
.products {
    text-align: center;
    padding: 50px;
}

.product-img {
    width: 80%;
    max-width: 800px;
    border-radius: 10px;
}

/* ABOUT */
.about {
    padding: 50px;
    max-width: 800px;
    margin: auto;
}

/* ORDER */
.order {
    text-align: center;
    padding: 50px;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}

input, select, button {
    margin: 10px 0;
    padding: 10px;
}

button {
    background: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #45a049;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
}
.products-page {
    padding: 50px;
    text-align: center;
}

.products-page h1 {
    margin-bottom: 30px;
    font-size: 35px;
}

.price {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #4CAF50;
    font-size: 18px;
}
.socials {
    margin-top: 10px;
}

.socials a {
    font-size: 20px;
    margin: 0 10px;
    color: #4CAF50;
}

.socials a:hover {
    color: #2e7d32;
}